body {
	padding: 10px 20px 40px 20px;
	background-color: #fff;
	
}

#no-pad {	
	padding-right: -15px;
  	padding-left: -15px;
  	margin-right: 0px !important;
  	margin-left: 0px !important;
  	padding-top: 10px;
  	padding-bottom: 10;
}

#padding {
	padding-top: 15px !important;
}

.res, .visit{
	display: none;
}


#main {
	margin-top: 60px;
	overflow-y: auto;
	height: 330px;
}

#text {
	font-size: 60px;
	font-weight: bold;
}

	